# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2832516b8b70c033f462e64ed7e4250d1f0d7d63a1c223879548c94417b1f497ebbf5cada7a0a3018940990ae07c5d4ce94982aaecbdefe7fb650bbf75c75a05

test:
  secret_key_base: b6bcc0f5342a03d871d9066d77407886cb94764648c839f1ba34c759881cda4912c64cc790d82865b7a5183a7f08ba160ce4d4306871f2e8c7495f81e938f9e5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
